com.io7m.cardant.protocol.inventory.v1/src/main/resources/com/io7m/cardant/protocol/inventory/v1/beans/src/inventory-1.types.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:iv1="urn:com.io7m.cardant.inventory:1"
            targetNamespace="urn:com.io7m.cardant.inventory:1">

  <xsd:annotation>
    <xsd:documentation>
      Type declarations.
    </xsd:documentation>
  </xsd:annotation>

  <xsd:simpleType name="UUIDType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        A UUID value.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="TagNameType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        A tag name value.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="127"/>
      <xsd:pattern value="[\p{Lu}\p{Ll}\d\\-_]{1,127}"/>
      <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ItemNameType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        An item name value.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:normalizedString">
      <xsd:maxLength value="127"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="LocationNameType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        A location name value.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:normalizedString">
      <xsd:maxLength value="127"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="LocationDescriptionType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        A location description value.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:normalizedString">
      <xsd:maxLength value="1023"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ItemMetadataNameType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        An item metadata name value.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:normalizedString">
      <xsd:maxLength value="127"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ItemMetadataValueType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        An item metadata value.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:normalizedString">
      <xsd:maxLength value="1023"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="MediaType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        A media type value (such as "text/plain").
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:normalizedString">
      <xsd:maxLength value="127"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="FileDescriptionType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        A file description.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:normalizedString">
      <xsd:maxLength value="255"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RelationType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        A relation value (such as "image").
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:normalizedString">
      <xsd:maxLength value="127"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="HashAlgorithmType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        A hash algorithm name (such as "SHA-256").
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:normalizedString">
      <xsd:maxLength value="32"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="HashValueType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        A hash value (such as "5891b5b522d5df086d0ff0b110fbd9d21bb4fc7163af34d08286a2e846f6be03").
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:normalizedString">
      <xsd:maxLength value="256"/>
      <xsd:pattern value="[a-f0-9]{1,256}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="TagType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        The type of tags.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:attribute name="id"
                   type="iv1:UUIDType"
                   use="required"/>
    <xsd:attribute name="name"
                   type="iv1:TagNameType"
                   use="required"/>
  </xsd:complexType>

  <xsd:element name="Tag"
               type="iv1:TagType"/>

  <xsd:complexType name="TagsType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        A set of tags.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:sequence minOccurs="0"
                  maxOccurs="unbounded">
      <xsd:element ref="iv1:Tag"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="Tags"
               type="iv1:TagsType"/>

  <xsd:complexType name="LocationType">
    <xsd:attribute name="id"
                   type="iv1:UUIDType"
                   use="required"/>
    <xsd:attribute name="parent"
                   type="iv1:UUIDType"
                   use="optional"/>
    <xsd:attribute name="name"
                   type="iv1:LocationNameType"
                   use="required"/>
    <xsd:attribute name="description"
                   type="iv1:LocationDescriptionType"
                   use="required"/>
  </xsd:complexType>

  <xsd:element name="Location"
               type="iv1:LocationType"/>

  <xsd:complexType name="LocationsType">
    <xsd:sequence minOccurs="0"
                  maxOccurs="unbounded">
      <xsd:element ref="iv1:Location"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="ItemMetadataName"
               type="iv1:ItemMetadataNameType"/>

  <xsd:complexType name="ItemMetadataType">
    <xsd:attribute name="name"
                   use="required"
                   type="iv1:ItemMetadataNameType"/>
    <xsd:attribute name="value"
                   use="required"
                   type="iv1:ItemMetadataValueType"/>
  </xsd:complexType>

  <xsd:element name="ItemMetadata"
               type="iv1:ItemMetadataType"/>

  <xsd:complexType name="ItemMetadatasType">
    <xsd:sequence minOccurs="0"
                  maxOccurs="unbounded">
      <xsd:element ref="iv1:ItemMetadata"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="ItemMetadatas"
               type="iv1:ItemMetadatasType"/>

  <xsd:simpleType name="FileDataType">
    <xsd:restriction base="xsd:base64Binary"/>
  </xsd:simpleType>

  <xsd:element name="FileData"
               type="iv1:FileDataType"/>

  <xsd:complexType name="FileType">
    <xsd:sequence minOccurs="0"
                  maxOccurs="1">
      <xsd:element ref="iv1:FileData"/>
    </xsd:sequence>

    <xsd:attribute name="id"
                   use="required"
                   type="iv1:UUIDType"/>
    <xsd:attribute name="description"
                   use="required"
                   type="iv1:FileDescriptionType"/>
    <xsd:attribute name="mediaType"
                   use="required"
                   type="iv1:MediaType"/>
    <xsd:attribute name="size"
                   use="required"
                   type="xsd:unsignedLong"/>
    <xsd:attribute name="hashAlgorithm"
                   use="required"
                   type="iv1:HashAlgorithmType"/>
    <xsd:attribute name="hashValue"
                   use="required"
                   type="iv1:HashValueType"/>
  </xsd:complexType>

  <xsd:element name="File"
               type="iv1:FileType"/>

  <xsd:complexType name="FilesType">
    <xsd:sequence minOccurs="0"
                  maxOccurs="unbounded">
      <xsd:element ref="iv1:File"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ItemAttachmentType">
    <xsd:sequence>
      <xsd:element ref="iv1:File"/>
    </xsd:sequence>

    <xsd:attribute name="relation"
                   use="required"
                   type="iv1:RelationType"/>
  </xsd:complexType>

  <xsd:element name="ItemAttachment"
               type="iv1:ItemAttachmentType"/>

  <xsd:complexType name="ItemAttachmentsType">
    <xsd:sequence minOccurs="0"
                  maxOccurs="unbounded">
      <xsd:element ref="iv1:ItemAttachment"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="ItemAttachments"
               type="iv1:ItemAttachmentsType"/>

  <xsd:complexType name="ItemType">
    <xsd:sequence>
      <xsd:element ref="iv1:ItemMetadatas"/>
      <xsd:element ref="iv1:Tags"/>
      <xsd:element ref="iv1:ItemAttachments"/>
    </xsd:sequence>

    <xsd:attribute name="id"
                   type="iv1:UUIDType"
                   use="required"/>
    <xsd:attribute type="iv1:ItemNameType"
                   use="required"
                   name="name"/>
    <xsd:attribute type="xsd:unsignedLong"
                   use="required"
                   name="countTotal"/>
    <xsd:attribute type="xsd:unsignedLong"
                   use="required"
                   name="countHere"/>
  </xsd:complexType>

  <xsd:element name="Item"
               type="iv1:ItemType"/>

  <xsd:complexType name="ItemsType">
    <xsd:sequence minOccurs="0"
                  maxOccurs="unbounded">
      <xsd:element ref="iv1:Item"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ItemRepositType"
                   abstract="true"/>

  <xsd:element name="ItemReposit"
               type="iv1:ItemRepositType"
               abstract="true"/>

  <xsd:complexType name="ItemRepositAddType">
    <xsd:complexContent>
      <xsd:extension base="iv1:ItemRepositType">
        <xsd:attribute name="item"
                       type="iv1:UUIDType"
                       use="required"/>
        <xsd:attribute name="location"
                       type="iv1:UUIDType"
                       use="required"/>
        <xsd:attribute name="count"
                       type="xsd:unsignedLong"
                       use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="ItemRepositAdd"
               type="iv1:ItemRepositAddType"
               substitutionGroup="iv1:ItemReposit"/>

  <xsd:complexType name="ItemRepositRemoveType">
    <xsd:complexContent>
      <xsd:extension base="iv1:ItemRepositType">
        <xsd:attribute name="item"
                       type="iv1:UUIDType"
                       use="required"/>
        <xsd:attribute name="location"
                       type="iv1:UUIDType"
                       use="required"/>
        <xsd:attribute name="count"
                       type="xsd:unsignedLong"
                       use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="ItemRepositRemove"
               type="iv1:ItemRepositRemoveType"
               substitutionGroup="iv1:ItemReposit"/>

  <xsd:complexType name="ItemRepositMoveType">
    <xsd:complexContent>
      <xsd:extension base="iv1:ItemRepositType">
        <xsd:attribute name="item"
                       type="iv1:UUIDType"
                       use="required"/>
        <xsd:attribute name="fromLocation"
                       type="iv1:UUIDType"
                       use="required"/>
        <xsd:attribute name="toLocation"
                       type="iv1:UUIDType"
                       use="required"/>
        <xsd:attribute name="count"
                       type="xsd:unsignedLong"
                       use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="ItemRepositMove"
               type="iv1:ItemRepositMoveType"
               substitutionGroup="iv1:ItemReposit"/>

  <xsd:complexType name="ItemLocationType">
    <xsd:attribute name="location"
                   type="iv1:UUIDType"
                   use="required"/>
    <xsd:attribute name="item"
                   type="iv1:UUIDType"
                   use="required"/>
    <xsd:attribute name="count"
                   type="xsd:unsignedLong"
                   use="required"/>
  </xsd:complexType>

  <xsd:element name="ItemLocation"
               type="iv1:ItemLocationType"/>

  <xsd:complexType name="ItemLocationsType">
    <xsd:sequence minOccurs="0"
                  maxOccurs="unbounded">
      <xsd:element ref="iv1:ItemLocation"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="ItemLocations"
               type="iv1:ItemLocationsType"/>

  <xsd:complexType name="IDType"
                   abstract="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        The base type of IDs.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:attribute name="value"
                   use="required"
                   type="iv1:UUIDType"/>
  </xsd:complexType>

  <xsd:element name="ID"
               type="iv1:IDType"
               abstract="true"/>

  <xsd:complexType name="ItemIDType">
    <xsd:complexContent>
      <xsd:extension base="iv1:IDType"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="ItemID"
               substitutionGroup="iv1:ID"
               type="iv1:ItemIDType"/>

  <xsd:complexType name="FileIDType">
    <xsd:complexContent>
      <xsd:extension base="iv1:IDType"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="FileID"
               substitutionGroup="iv1:ID"
               type="iv1:FileIDType"/>

  <xsd:complexType name="UserIDType">
    <xsd:complexContent>
      <xsd:extension base="iv1:IDType"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="UserID"
               substitutionGroup="iv1:ID"
               type="iv1:UserIDType"/>

  <xsd:complexType name="TagIDType">
    <xsd:complexContent>
      <xsd:extension base="iv1:IDType"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="TagID"
               substitutionGroup="iv1:ID"
               type="iv1:TagIDType"/>

  <xsd:complexType name="LocationIDType">
    <xsd:complexContent>
      <xsd:extension base="iv1:IDType"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="LocationID"
               substitutionGroup="iv1:ID"
               type="iv1:LocationIDType"/>

  <xsd:complexType name="IDsType">
    <xsd:sequence minOccurs="0"
                  maxOccurs="unbounded">
      <xsd:element ref="iv1:ID"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ListLocationsBehaviourType"
                   abstract="true">
    <xsd:annotation>
      <xsd:documentation>
        The base type of location listing behaviour.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>

  <xsd:element name="ListLocationsBehaviour"
               type="iv1:ListLocationsBehaviourType"
               abstract="true"/>

  <xsd:complexType name="ListLocationsAllType">
    <xsd:annotation>
      <xsd:documentation>
        List objects in all locations.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:complexContent>
      <xsd:extension base="iv1:ListLocationsBehaviourType"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="ListLocationsAll"
               type="iv1:ListLocationsAllType"
               substitutionGroup="iv1:ListLocationsBehaviour"/>

  <xsd:complexType name="ListLocationExactType">
    <xsd:annotation>
      <xsd:documentation>
        List objects in an exact location.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:complexContent>
      <xsd:extension base="iv1:ListLocationsBehaviourType">
        <xsd:attribute use="required"
                       type="iv1:UUIDType"
                       name="location"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="ListLocationExact"
               type="iv1:ListLocationExactType"
               substitutionGroup="iv1:ListLocationsBehaviour"/>

  <xsd:complexType name="ListLocationWithDescendantsType">
    <xsd:annotation>
      <xsd:documentation>
        List objects in a given location, and all descendants of that location.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:complexContent>
      <xsd:extension base="iv1:ListLocationsBehaviourType">
        <xsd:attribute use="required"
                       type="iv1:UUIDType"
                       name="location"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="ListLocationWithDescendants"
               type="iv1:ListLocationWithDescendantsType"
               substitutionGroup="iv1:ListLocationsBehaviour"/>

</xsd:schema>